.sidenav {
    height: 100%;
    width: 250px;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f3a007;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav img {
    padding-left: 10px;
  }
  
  .sidenav a {
    /*padding: 6px 6px 6px 32px;*/
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    display: block;
    text-align: center;
  }
  
  .sidenav a:hover {
    color: #0ed7f1;
  }
  
  .main {
    margin-left: 270px; /* Same as the width of the sidenav */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

ul {
  position: relative;
  display: block;
  text-align: center;
}

li {
  width: auto;
  display: inline;
}

#about {
  margin-top: 100px;
}

#experience {
  margin-top: 100px;
}

#education {
  margin-top: 100px;
}

#skills {
  margin-top: 100px;
}

#interest {
  margin-top: 100px;
}

#page {
  margin-top: 100px;
}