body {
    background-image: url("../img/Charlotte-Hornets-logo.png");
    background-repeat: no-repeat; 
    background-size: cover;
    
}

.article-content {
    background-color:burlywood

}

#loremText {
    text-align:justify;


}

#uppercase-text {
    text-transform: uppercase;
    text-align: justify;
    
}

